
.link{
    
    font-weight: 400 !important;
    font-size: 18px !important; 
    line-height:23.44px !important;
    color: #0A142F !important;
    font-family:  DM Sans !important;
}


@media only screen and (min-width: 992px) {
    .navs { margin-left: 70px; }
    .logo { margin-left:130px !important; }
    .link { padding-left:38px !important;}
    .inputDiv{
        margin-right: 300px;
    }
    
}

.input{
    width: 280px;
    border-radius: 25.85px;
    gap: 14px;
    border-color: #0096FF;
    text-align: inside;
    caption-side: inherit;
    
}

.nav-bar{
    margin-top:35px;
}